.blackme {
    background-color: black;
}

table,
tr,
td {
    background: wheat;
    border-collapse: collapse;
    border: 0.1px solid black;
}

table {
    width: 900px;
    height: 900px;
    margin: 0 auto;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding: 12px;
}

h1,
h2 {
    margin: 10px;
    display: inline;
}

td[bot="cop_walked"] {
    background: lightblue;
}

td[bot="cop_target"] {
    background: aqua;
}

td[player="ship_walked"] {
    background: darksalmon;
}

td[player="ship_walked"][bot="cop_walked"] {
    background: plum;
}

td[player="ship"] {
    background: red;
}

td[bot="cop"] {
    background: blue;
}

td[vision="1"] {
    visibility: visible;
}

td[vision="0"] {
    visibility: visible;
}