@font-face {
    font-family: "PixelSplitter";
    src: url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.eot");
    src: url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.woff") format("woff"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.svg#PixelSplitter") format("svg");
}

img {
    transition: all .1s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

#energyBar {
    background: LemonChiffon;
    border: 4px dashed Peru;
    padding: 5px;
    position: absolute;
    bottom: 60%;
    left: 75%;
    width: 300px;
}

#timeBar {
    background: LemonChiffon;
    border: 4px dashed Peru;
    padding: 5px;
    position: absolute;
    bottom: 54%;
    left: 75%;
    width: 220px;
}

p {
    font-family: 'Mitr', sans-serif;
}

h1,
h2 {
    font-family: "PixelSplitter", sans-serif;
}

body {
    background-image: url("../img/island.jpg");
    background-size: cover;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 100px;
    transform: scale(0.9)
}

ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
}

ul li:nth-child(1) a {
    transform: rotate(-6deg);
    position: relative;
    top: 5px;
    background: #cfc;
    border: 4px dashed SeaGreen;
}

ul li:nth-child(2) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #ffc;
    border: 4px dashed SandyBrown;
}

ul li:nth-child(3) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: lightblue;
    border: 4px dashed DodgerBlue;
}

ul li:nth-child(4) a {
    transform: rotate(-6deg);
    position: relative;
    top: 5px;
    background: LightPink;
    border: 4px dashed MediumOrchid;
}

ul li:nth-child(5) a {
    transform: rotate(-3deg);
    position: relative;
    top: 5px;
    background: Plum;
    border: 4px dashed RebeccaPurple;
}

ul li:nth-child(6) a {
    transform: rotate(5deg);
    position: relative;
    top: 5px;
    background: SandyBrown;
    border: 4px dashed Chocolate;
}

table,
tr,
td {
    background: wheat;
    border-collapse: collapse;
}

table {
    width: 22.5%;
    margin: 0 auto;
    border: 7px dashed Teal;
    position: relative;
    top: 2%;
    z-index: -20;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding: 12px;
}

h1,
h2 {
    margin: 10px;
    display: inline;
}

td[bot="cop_walked"] {
    background: lightblue;
}

td[bot="cop_target"] {
    background: aqua;
}

td[player="ship_walked"] {
    background: darksalmon;
}

td[player="ship_walked"][bot="cop_walked"] {
    background: plum;
}

td[player="bonus"] {
    background-image: url("../img/coin.gif");
    background-size: cover;
}

td[player="ship"] {
    background: darksalmon;
    background-image: url("../img/anchor.png");
    background-size: cover;
}

td[bot="cop"] {
    background: blue;
    background-image: url("../img/cop.png");
    background-size: cover;
}

td[vision="1"] {
    visibility: visible;
}

td[vision="0"] {
    visibility: visible;
}


/*iframe*/

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
}


/*swal*/

.swal-overlay {
    background-color: rgba(130, 130, 130, 0.6);
}

.swal-title {
    margin: 0px;
    font-size: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    font-family: "PixelSplitter", 'Mitr', sans-serif;
    margin-bottom: 28px;
    background-color: LightSkyBlue;
}

.swal-modal {
    width: 800px;
    border-radius: 0px;
    border: 5.5px solid LightSkyBlue;
}

.swal-text {
    font-family: "PixelSplitter", 'Mitr', sans-serif;
    text-align: center;
    font-size: 30px;
}


/*.swal-footer {}*/

.swal-button {
    font-family: "PixelSplitter", sans-serif;
    background-color: DodgerBlue;
    font-size: 27px;
    border-radius: 5px;
}