@font-face {
    font-family: "PixelSplitter";
    src: url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.eot");
    src: url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.woff") format("woff"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03d72a0482b2bc12a4f8ab59354fd4af.svg#PixelSplitter") format("svg");
}

* {
    font-family: "PixelSplitter", sans-serif;
}

body {
    background-image: url("../img/island.jpg");
    overflow: hidden;
}

table,
tr,
td {
    background: wheat;
    border-collapse: collapse;
    /*border: 0.1px solid transparent;*/
}

table {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border: 7px dashed Teal;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding: 12px;
}

h1,
h2 {
    margin: 10px;
    display: inline;
}

td[bot="cop_walked"] {
    background: lightblue;
}

td[bot="cop_target"] {
    background: aqua;
}

td[player="ship_walked"] {
    background: darksalmon;
}

td[player="ship_walked"][bot="cop_walked"] {
    background: plum;
}

td[player="bonus"] {
    background: gold;
}

td[player="ship"] {
    background-image: url("../img/anchor.png");
    background-size: 100%;
}

td[bot="cop"] {
    background: blue;
    background-image: url("../img/cop.gif");
    background-size: 100%;
}

td[vision="1"] {
    visibility: visible;
}

td[vision="0"] {
    visibility: visible;
}


/*iframe*/

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
}