@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500');
html {
    box-sizing: border-box;
}

pao {
    width: 300px;
    margin: 40px auto;
    font-size: 24px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-image: url("https://images-ext-1.discordapp.net/external/jyfTUEbVZ25d3VTSmE5BvaHjCRMEuDbYv2W76r3UdG4/%3Fwidth%3D1191%26height%3D670/https/media.discordapp.net/attachments/753990089041903736/845591696824729660/wp1879943.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Roboto", sans-serif;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}

a {
    font-family: 'Source Code Pro', monospace;
    color: #ffcc99;
}

a:hover {
    color: #ffba76;
}

header {
    padding: 20px;
}

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 100;
}

.score-board {
    border: 6px dashed royalblue;
    width: 300px;
    margin: 40px auto;
    font-size: 40px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    background: deepskyblue;
}

.badge {
    background: #e2584d;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 6px;
}

#user-label {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-10%, -50%);
}

#computer-label {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(10%, -50%);
}

.result {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    height: 50px;
}

.choices {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.choice {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: auto 10px;
    transition: all 0.3s ease;
}

.choice img {
    filter: invert(100%);
}

#action-message {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px 0;
    /*
    font-size: 30px;
    transform: translateY(325px);*/
}

.stick {
    display: block;
    position: fixed;
    width: 600px;
    font-size: 30px;
    left: 220px;
    background: DeepSkyBlue;
    border: 6px dashed RoyalBlue;
}

.stick2 {
    display: block;
    position: fixed;
    width: 600px;
    font-size: 30px;
    left: 1100px;
    background: DeepSkyBlue;
    border: 6px dashed RoyalBlue;
}

.winningStyles {
    border: 3px solid #4dcc7d;
    background-color: #043507;
    box-shadow: 0 0 20px #043507;
}

.losingStyles {
    border: 3px solid #c52e2e;
    background-color: #2e0303;
    box-shadow: 0 0 20px #2e0303;
}

.drawStyles {
    border: 3px solid #444;
    background-color: #222;
    box-shadow: 0 0 20px #222;
}

sup {
    margin: 0;
    padding: 0;
}