body {
    background: LightBlue;
}

.box {
    top: 150px;
    height: 600px;
    width: 950px;
    background-color: LightSkyBlue;
    border: dashed 7px teal;
    margin: 0 auto;
    position: relative;
}

.greenzone1 {
    height: 60px;
    width: 60px;
    background-color: MediumSeaGreen;
    position: absolute;
}

.greenzone2 {
    height: 60px;
    width: 60px;
    background-color: MediumSeaGreen;
    position: absolute;
    right: 0%;
    top: 45%;
}

.item {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: CadetBlue;
    position: absolute;
}

.loga {
    height: 240px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 6%;
    top: 0%;
}

.log {
    height: 300px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 16%;
    top: 0%;
}

.log1 {
    height: 300px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 6%;
    bottom: 0%;
}

.log2 {
    height: 262px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 16%;
    bottom: 0%;
}

.log3 {
    height: 400px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 26%;
    bottom: 0%;
}

.log4 {
    height: 160px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 26%;
    top: 0%;
}

.log5 {
    height: 150px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 35%;
    top: 0%;
}

.log6 {
    height: 410px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 35%;
    bottom: 0%;
}

.log7 {
    height: 260px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 45%;
    top: 0%;
}

.log8 {
    height: 305px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 45%;
    bottom: 0%;
}

.log9 {
    height: 567px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 56%;
    bottom: 0%;
}

.log10 {
    height: 567px;
    width: 65px;
    background-color: LightCoral;
    position: absolute;
    left: 66%;
    top: 0%;
}

.log11 {
    height: 282px;
    width: 224px;
    background-color: LightCoral;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.log12 {
    height: 282px;
    width: 224px;
    background-color: LightCoral;
    position: absolute;
    right: 0%;
    top: 0%;
}