body {
    background-image: url("../../img/bg1.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.box {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 200px;
    text-align: center;
}

.box1 {
    background-image: url("../../img/fish1.png");
    left: 600px;
    top: 600px;
}

.box2 {
    background-image: url("../../img/fish2.png");
    left: 200px;
    top: 200px;
}

.box3 {
    background-image: url("../../img/fish3.png");
    left: 100px;
    top: 500px;
}

.box4 {
    background-image: url("../../img/fish4.png");
    left: 900px;
    top: 100px;
}

.box5 {
    background-image: url("../../img/fish5.png");
    left: 1000px;
    top: 450px;
}

.bin {
    background-image: url("../../img/bin.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 190px;
    height: 190px;
}